/* Outline
Blog
Buttons
Headings
Hooks
Developments
Document Structure
Forms
Layouts
- Gallery
Modals
- Share Modal
- Property Modal
Neighborhoods
Office Gallery
Overrides
People Gallery
People Profiles
Post Gallery
Post Type: Post
Property Listings Gallery
Property Cards
Property Detail
Property Listing
Property Slideshow
Shortcodes
- People
- Videos
Sidebars
Site Header
Tabs
Widgets
Wovax Shortcodes
Video Gallery
Media Queries

 
/* Blog
----------------------------------------------------------------------- */
.blog-template h1 {
	text-align: center;
	color: #1f3652;
	font-weight: 400;
	font-size: 4rem;
	padding-bottom: 40px;
}
.blog-template .entry-title a {
	color: #1f3652;
}
.blog-template .entry-title a:hover {
	color: #42a5f5;
}
.blog-template main article {
	padding-bottom: 60px;
}
h1.blog-heading {
    text-align: center;
    color: #1f3652;
    font-weight: 400;
    font-size: 4rem;
    padding-bottom: 40px;
}
body.archive main article {
	padding-bottom: 60px;
}
/* Buttons
----------------------------------------------------------------------- */
.tremaine-button-dark {
    display: inline-block;
    border-radius: 3px;
    background-color: #1e3652;
    color: #fff !important;
    letter-spacing: 1px;
    text-decoration: none;
	font-size: 1.6rem;
    letter-spacing: 0;
	text-transform: uppercase;
	line-height: normal;
	padding: 1.25rem 3.5rem;
}
.tremaine-button-dark:after {
    content: '\f0da';
    margin-left: 12px;
    font-family: fontAwesome;
}
.tremaine-button-dark:hover {
	color: #fff;
	background-color: #73befb;
}


/* Headings
----------------------------------------------------------------------- */
h2.section-heading-center {
	color: #1e3652;
	font-size: 3.5rem;
	text-align: center;
	font-weight: 500;
	margin: 0;
	padding: 6rem 0;
}

/* Hooks
----------------------------------------------------------------------- */
.always-top .tkd-column {
    padding-top: 50px;
}
a.wx-footer-menu-left-arrow,
.wx-footer-menu-left-arrow > a,
.wx-header-menu-left-arrow > a {
	background-image: url(../images/arrow-right-blue.png);
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 30px;
}
a.wx-header-menu-left-heart:before,
.wx-header-menu-left-heart > a:before {
	content: "\f004";
	font-family: fontAwesome;
	color: #CF5C00;
	font-size: 1.3rem;
	margin-right: 4px;
}
.make-lower-case h1,
.make-lower-case h2,
.make-lower-case h3,
.make-lower-case h4,
.make-lower-case h5,
.make-lower-case {
	text-transform: none;
}
.bottom-line {
	border-bottom: 1px solid #ccc;
}
/* Developments
----------------------------------------------------------------------- */
.single-developments .primary-page-banner a.more-link {
	position: absolute;
	bottom: 50px;
	right: 80px;
	border: 2px solid #fff;
	color: #fff;
	text-transform: uppercase;
	display: block;
	padding: 1rem 2.5rem;
	text-decoration: none;
	letter-spacing: 1px;
	font-size: 1.8rem;
	border-radius: 3px;
}
.single-developments .primary-page-banner a.more-link i {
	margin-left: 4px;
}

/* Document Structure
----------------------------------------------------------------------- */
.content-sidebar-wrap {
	padding-top: 110px;
}

body.page .content-sidebar-wrap {
	padding-top: 0;
}

/* Post Type: Post
----------------------------------------------------------------------- */
.archive .site-inner,
.single-post .site-inner{
	padding-bottom: 60px;
}

/* Forms
----------------------------------------------------------------------- */
.wovax-form-controls {
	padding: 0 0 12px 0;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: 2px solid #ddd;
	margin-bottom: 24px;
}

.wovax-form-controls input {
	background-color: transparent;
}

.wovax-form-controls.footer-controls {
	padding: 12px 0 0 0;
	border-bottom: none;
	border-top: 2px solid #ddd;
	margin: 24px 0;
}

.wx-pagination-field {
    display: inline-block;
    vertical-align: top;
    letter-spacing: 1px;
}
.wx-page-numbers {
    margin: 0 8px;
}
.wx-pagination-field.wx-pagination-paged {
    margin-left: 25px;
}
.wx-pagination-field.wx-desc-field {
	line-height: 42px;
	height: 42px;
}
.wx-pagination-field.wx-arrow-button input {
	width: 50px;
	background-image: url(../images/arrow-right-blue.png);
	background-position: center;
	background-repeat: no-repeat;
	height: 42px;
	font-size: 0;
	border: 1px solid #ddd;
    border-radius: 3px;
    background-color: #fff;
}
.wx-pagination-field.wx-arrow-button input:hover {
	background-color: #42a5f5;
}
.wx-pagination-field.wx-page-numbers input,
.wx-pagination-field.wx-page-numbers input:active,
.wx-pagination-field.wx-page-numbers input:focus {
	height: 42px;
	line-height: 42px;
	border: none;
	color: #333;
	padding: 0 1px;
	background-color: transparent !important;
	font-weight: normal;
}
.wx-pagination-field.wx-page-numbers input.wx-active {
	font-weight: bold;
}
.wx-pagination-field.wx-page-numbers input:hover {
	background-color:transparent;
}
.wx-pagination-field.wx-page-numbers div {
	display: inline-block;
	height: 42px;
	line-height: 42px;
	color: #333;
	padding: 0;
}
.wx-gallery-paged input,
.wx-gallery-paged input:active,
.wx-gallery-paged input:focus {
    border: 1px solid #ddd;
    border-radius: 3px;
    padding-left: 8px;
    background-color: #fff;
    font-size: 1.5rem;
    font-weight: 300;
}


/* Wraps */

/* Layouts
----------------------------------------------------------------------- */
/* Gallery */
.wovax-gallery-third .wovax-gallery-item,
.wovax-gallery-third {
	display: inline-block;
	vertical-align: top;
	width: 32.3333%;
	margin-right: 1.5%;
}
.wovax-gallery-third .wovax-gallery-item:nth-child(3n),
.wovax-gallery-third:nth-child(3n) {
	margin-right: 0;
}

.tremaine-row.layout-third-left .tremaine-column { float: left; }
.tremaine-row.layout-third-left .tremaine-column.tremaine-column-one { width: 33.33%; }
.tremaine-row.layout-third-left .tremaine-column.tremaine-column-two { width: 66.66%; }

/* Modals
----------------------------------------------------------------------- */

.wx-modal-content {
    display: none;
}

.tre-modal-frame .tre-modal-content {
    display: block !important;
}

.tre-modal-frame.video-frame .tre-modal-window-content {
	position: relative;
	padding-top: 56.25%;
}

.tre-modal-frame.video-frame .tre-modal-window-content iframe {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: absolute;
}

/* Share Modal */
#tremaine-share-modal {
	background-color: #fff;
	border-radius: 6px;
	-webkit-box-shadow: 0px 0px 9px 2px rgba(0,0,0,0.45);
	-moz-box-shadow: 0px 0px 9px 2px rgba(0,0,0,0.45);
	box-shadow: 0px 0px 9px 2px rgba(0,0,0,0.45);
	position: absolute;
	top: 200px;
	padding: 30px 3rem 0;
}
#tremaine-share-modal-bg {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left:0;
}
#tremaine-share-modal .close-share-modal {
	position: absolute;
	top: 0;
	right: 0;
	color: #555;
	font-size: 1.2rem;
	padding: 8px;
	display: block;
}
#tremaine-share-modal:after {
	content: '▼';
	text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.31);
	color: #fff;
	position: absolute;
	top: 100%;
	left: 15%;
	font-size: 40px;
	line-height: 28px;
}

#tremaine-share-modal .sd-content ul {
    margin: 0 !important;
}

/* Property Modal */
.wovax-modal .property-slideshow-nav-mobile {
	display: none;
}

/* Image Left Modal */
.tremaine-modal-image-left .tremaine-modal-bg-image-wrapper {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	width: 350px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.tremaine-modal-image-left.has-image .tremaine-modal-content {
	margin-left: 350px;
	padding: 70px 0 40px;
}

/* Neighborhoods
----------------------------------------------------------------------- */

/* Office Gallery
----------------------------------------------------------------------- */
.tremaine-office-gallery {
	margin: 0 -12px;
}
ul.tremaine-office-gallery {
	margin: 0 -12px;
}

.tremaine-office-card-wrapper {
	display: inline-block;
	vertical-align: top;
	padding: 0 12px;
	box-sizing: border-box;
	width: 33.33%; 
}

.tremaine-office-card {
	background-color: #f8f8f8;
	margin-bottom: 20px;
}

.tremaine-office-card a {
	text-decoration: none;
}

.tremaine-office-card .image-wrapper {
	padding-bottom: 66%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}

.tremaine-office-card .image-wrapper a {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	position: absolute;
}

.tremaine-office-card h3 {
	color: #02254c;
    font-size: 1.8rem;
    line-height: normal;
	text-transform: none;
}

.tremaine-office-card .caption-wrapper {
	padding: 20px;
	box-sizing: border-box;
}

.tremaine-office-card .details {
	border-top: 1px solid #dcdcdc;
	padding-top: 12px;
	list-style-type: none;
	margin: 0;
}

.tremaine-office-card .details li {
	line-height: normal;
	position: relative;
	padding: 0 0 12px 25px;
	list-style-type: none;
}
.tremaine-office-card .details li.email:before {
	content:'\f0e0';
	font-family: fontAwesome;
	position: absolute;
	top: 3px;
	left: 0;
	color: #02254c;
}
.tremaine-office-card .details li.address:before {
	content:'\f041';
	font-family: fontAwesome;
	position: absolute;
	top: 3px;
	left: 0;
	color: #02254c;
}

.tremaine-office-card .details li.phone:before {
	content:'\f095';
	font-family: fontAwesome;
	position: absolute;
	top: 3px;
	left: 0;
	color: #02254c;
}
.tremaine-office-card .details li.website:before {
	content:'\f0ac';
	font-family: fontAwesome;
	position: absolute;
	top: 3px;
	left: 0;
	color: #02254c;
}
.tremaine-office-card .details li.learn-more {
	text-align: right;
}
.tremaine-office-card .details li.learn-more a {
	color: #42a5f5;
    font-weight: 700;
	text-transform: uppercase;
    font-size: 1.25rem;
    letter-spacing: 1px;
}


/* Overrides
----------------------------------------------------------------------- */
.lista_items_result_wovax:before {
	content:'';
	display: block;
	clear: both;
}
/* People Gallery
----------------------------------------------------------------------- */
.people-gallery .person-card > a > img { 
    -webkit-filter: grayscale(100%);
    filter: gray;
}

.people-gallery .person-card .person-contact h3 {
	text-transform: none;
	font-size: 2rem;
	line-height: 2.4rem;
}
.people-gallery .person-card .person-contact h4 {
	line-height: 2rem;
}

/* People Profiles
----------------------------------------------------------------------- */
.person-profile .person-profile-details a {
	color: #fff;
	text-decoration: none;
}
.person-profile .person-profile-details a:hover {
	color: #fff;
}
#tre-profile-video-banner .wide-wrap {
	position: relative;
}
#tre-profile-video-banner .wide-wrap > img {
	width: 100%;
	height: auto;
	display: block;
}
#tre-profile-video-banner .wide-wrap iframe {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
}
#tre-profile-video-banner {
    background-image: url(../resources/profile-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
	margin-top: 50px;
}
.tre-profile-banner.has-video {
    background-image: none;
}
.person-profile.has-video .person-profile-details a {
    color: #333;
    text-decoration: none;
}

/* Post Gallery
----------------------------------------------------------------------- */
.wx-post-gallery fieldset {
    border: none;
	padding: 0;
	margin: 0;
}
.wx-post-gallery h2 {
	font-size: 3rem;
    font-weight: 300;
    color: #1f3652;
	line-height: 42px;
	float: left;
}
.wx-post-gallery .wx-gallery-controls {
	display: block;
	margin-left: 100px;
	text-align: right;
}
.wx-post-gallery .wx-page-numbers {
	margin: 0 8px;
}
.wx-post-gallery .wx-gallery-controls .wx-gallery-field {
	display: inline-block;
	vertical-align: top;
	letter-spacing: 1px;
}
.wx-post-gallery .wx-gallery-controls > .wx-gallery-field {
	margin-left: 25px;
}
.wx-post-gallery .wx-gallery-controls .wx-gallery-field.wx-sort-field {
	/*min-width: 300px;*/
}
.wx-post-gallery .wx-gallery-controls .wx-gallery-field.wx-sort-field label {
	display: inline-block;
	vertical-align: top;
	line-height: 42px;
	height: 42px;
}
.wx-post-gallery .wx-gallery-controls .wx-gallery-field.wx-sort-field select {
	display: inline-block;
	vertical-align: top;
	width: 200px;
	height: 42px;
	padding: 0;
}
.wx-post-gallery .wx-gallery-controls .wx-gallery-field.wx-desc-field {
	line-height: 42px;
	height: 42px;
}
.wx-gallery-field.wx-arrow-button input {
	width: 50px;
	background-image: url(../images/arrow-right-blue.png);
	background-position: center;
	background-repeat: no-repeat;
	height: 42px;
	font-size: 0;
}
.wx-gallery-field.wx-arrow-button input:hover {
	background-color: #42a5f5;
}
.wx-gallery-field.wx-page-numbers input,
.wx-gallery-field.wx-page-numbers input:active,
.wx-gallery-field.wx-page-numbers input:focus {
	height: 42px;
	line-height: 42px;
	border: none;
	color: #333;
	padding: 0 1px;
	background-color: transparent !important;
	font-weight: normal;
}
.wx-gallery-field.wx-page-numbers input.wx-active {
	font-weight: bold;
}
.wx-gallery-field.wx-page-numbers input:hover {
	background-color:transparent;
}
.wx-gallery-field.wx-page-numbers div {
	display: inline-block;
	height: 42px;
	line-height: 42px;
	color: #333;
	padding: 0;
}
.wx-gallery-paged input,
.wx-gallery-paged input:active,
.wx-gallery-paged input:focus {
    border: 1px solid #ddd;
    border-radius: 3px;
    padding-left: 8px;
    background-color: #fff;
    font-size: 1.5rem;
    font-weight: 300;
}

.wx-post-gallery .wx-gallery-footer {
	padding: 2rem 0;
}
/* Post Type: Office
----------------------------------------------------------------------- */


/* Property Listings Gallery
----------------------------------------------------------------------- */
.property-listing-gallery .property-listing-card .property-listing-header h5 {
	color: #073f6e;
	font-weight: normal;
	line-height: 2rem;
}
.property-listing-gallery .property-listing-card {
	display: inline-block;
    width: 32.33%;
    padding: 0 10px 25px;
    vertical-align: top;
	box-sizing: border-box;
	vertical-align: top;
}


/* Property Cards
----------------------------------------------------------------------- */
.property-card .property-meta:after,
.property-card .property-details:after {
	content:'';
	display: block;
	clear: both;
}
.property-card {
	background-color: #f8f8f8;
	margin-bottom: 25px;
}
.property-card .wx-property-image {
	height: auto;
}
.property-card .wx-property-image img {
	display: block;
	width: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.property-card .property-details {
	padding: 14px 0 20px;
    border-bottom: 1px solid #dcdcdc;
	margin: 0 30px;
}
.property-card .property-details li {
	margin-right: 140px;
	padding: 0;
}
.property-card .property-details li:first-child {
	margin-right: 0;
	float: right;
	width: 130px;
}
.property-card .property-details h4 {
	color: #073f6e;
    font-weight: normal;
    line-height: 2rem;
	font-size: 1.6rem;
	text-transform: none !important;
	margin: 0;
	padding: 0;
}
.property-card .property-details h3 {
	font-weight: 700;
    color: #04264c;
    line-height: 2rem;
	font-size: 1.5rem;
	text-transform: none !important;
	text-align: right;
	margin: 0;
	padding: 0;
}
.property-card .property-meta {
	margin: 0 30px;
	padding: 10px 0 16px;
	font-size: 1.6rem;
	color: #333;
}
.property-card .property-meta li {
	margin-right: 110px;
	padding: 0;
}
.property-card .property-meta li:first-child {
	margin-right: 0;
	float: right;
	width: 110px;
}
.property-card .property-meta li a {
	text-decoration: none;
}
.property-card .modal-content-container {
	position: absolute;
	top: -9999rem;
}
.property-quick-view {
	text-transform: uppercase;
	font-size: 1.25rem;
	letter-spacing: 1px;
}
/* Property Detail
----------------------------------------------------------------------- */
.property-listing-detail .property-data a {
	text-decoration: none;
}

.property-listing-detail .property-video {
	position: relative;
	margin-bottom: 60px;
}

.property-listing-detail .property-video > img {
	width: 100%;
	height: auto;
}

.property-listing-detail .property-video iframe {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

/* Property Listing
----------------------------------------------------------------------- */

.property-listing-detail h1 {
	line-height: 4.2rem;
}

.property-listing-detail .simplefavorite-button {
	background: none;
	color: #42a5f5;
	font-size: 2.1rem;
	letter-spacing: 0.5px;
	font-weight: normal;
	margin: 0;
	padding: 0;
	opacity: 1 !important;
}

#property-legal {
	padding: 40px 0 60px;
	color: #555;
	font-size: 1.3rem;
}



/* Property Slideshow
----------------------------------------------------------------------- */
.property-slideshow-nav nav {
	position: relative;
	margin-top: 30px;
}

.property-slideshow-nav nav > a {
	position: absolute;
	width: 40px;
	background-color: #ddd;
	height: auto;
	top: 20%;
	bottom: 20%;
	text-align: center;
	color: #fff;
}

.property-slideshow-nav nav > a > span {
	position: absolute;
	display: block;
	width: 100%;
	top: 50%;
	font-size: 24px;
	line-height: 24px;
	height: 24px;
}
.property-slideshow-nav nav > a > span > i {
	font-size: 24px;
	line-height: 24px;
	height: 24px;
	position: relative;
	top: -12px;
}

.property-slideshow-nav nav > a.next {
	right: 0;
}

.property-slideshow-nav nav > div{
	margin: 0 50px;
	
	overflow: hidden;
	position: relative;
}

.property-slideshow-nav .property-nav-slide {
	position: absolute;
	top: -9999rem;
	width: 100%;
}
.property-slideshow-nav .property-nav-slide.is-active {
	position: relative;
	top: 0;
}

.property-slideshow-nav .property-nav-slide:after {
	content: '';
	display: block;
	clear: both;
}

.property-slideshow-nav .property-thumbnail {
	float: left;
	padding-bottom: 21%;
	width: 21%;
	margin: 0 2%;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	box-sizing: border-box;
	border-radius: 3px;
	position: relative;
	cursor: pointer;
}

.property-slideshow-nav .property-thumbnail.is-slide-left,
.property-slideshow-nav .property-thumbnail.is-slide-right {
	position: absolute;
	top: 0;
	right: 100%;
	display: block;
}
.property-slideshow-nav .property-thumbnail.is-slide-right {
	left: 100%;
	right: auto;
}
.property-slideshow-nav .property-thumbnail.is-active:after {
	content: '';
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	border-radius: 3px;
	border: 2px solid #42a5f6;
	cursor: pointer;
}
.property-slideshow-slides {
	position: relative;
	overflow: hidden;
}
.property-slideshow-slides .property-slide img {
	width: 100%;
	display: block;
}
.property-slideshow-slides .property-slide  {
	position: absolute;
	top: -9999rem;
	width: 100%;
}
.property-slideshow-slides .property-slide.is-active {
	position: relative;
	display: block;
	top: 0;
}
/* Shortcodes
----------------------------------------------------------------------- */
/* People Gallery ----- */
.tremaine-people-gallery {
	overflow: hidden;
}
.tremaine-people-gallery ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.tremaine-people-gallery ul > li {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.tremaine-people-gallery ul.tremaine-people-gallery-wrapper {
	margin: 0 -12px;
}
.tremaine-people-gallery li.tremaine-people-card-wrapper {
	display: inline-block;
	vertical-align: top;
	width: 50%;
	padding: 0 12px;
	box-sizing: border-box;
}
.tremaine-people-gallery .tremaine-people-card {
	background-color: #fff;
	margin-bottom: 24px;
	position: relative;
}
.tremaine-people-gallery .tremaine-people-card:after {
	content: '';
	display: block;
	clear: both;
}
.tremaine-people-gallery .tremaine-people-card .image-wrapper {
	width: 180px;
	padding-bottom: 200px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	float: left;
	-webkit-filter: grayscale(100%);
    filter: gray;
	background-image: url(../images/personplaceholder.gif);
}
.tremaine-people-gallery .tremaine-people-card .caption-wrapper {
	margin-left: 180px;
	padding: 40px 20px 10px 40px;
	box-sizing: border-box;
}
.tremaine-people-gallery .tremaine-people-card h3 {
	text-transform: none;
	margin: 0;
	color: #535353;
	font-size: 2.5rem;
	font-weight: 500;
	line-height: normal;
}
.tremaine-people-gallery .tremaine-people-card h3 a {
	color: inherit;
}
.tremaine-people-gallery .tremaine-people-card h4 {
	font-size: 1.5rem;
	text-transform: uppercase;
	color: #ccc;
	margin: 0;
	padding-bottom: 6px;
}
.tremaine-people-gallery .tremaine-people-card a {
	text-decoration: none;
}
.tremaine-people-gallery .tremaine-people-card .summary {
	line-height: normal;
}
/* Wovax Shortcodes
----------------------------------------------------------------------- */
.property-card ul, .property-card ul > li {
	list-style-type: none;
}

/* Video Gallery ----- */
.tremaine-video-shortcode .wovax-form-controls {
	text-align: right;
}

.tremaine-video-gallery {
	overflow:hidden;
}
.tremaine-video-gallery-wrapper {
	list-style-type: none;
	margin: 0 -12px;
	padding: 0;
}

.tremaine-video-gallery > ul {
	list-style-type: none;
	margin: 0 -12px;
}

.tremaine-video-gallery-wrapper ul {
	list-style-type: none;
	margin: 0;
}

.tremaine-video-card-wrapper {
	display: inline-block;
	vertical-align: top;
	padding: 0 12px;
	width: 33.33%;
	box-sizing: border-box;
	margin-bottom: 24px;
	list-style-type: none;
}
.tremaine-video-card {
	background-color: #f8f8f8;
	position: relative;
}

.tremaine-video-card .image-wrapper.bg-image-wrapper {
	padding-bottom: 66%;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}
.tremaine-video-card h3 {
	text-transform: uppercase;
	line-height: normal;
	margin: 0;
}
.tremaine-video-card h3 a {
	text-decoration: none;
	font-size: 1.8rem;
	font-weight: bold;
	line-height: normal;
}
.tremaine-video-card ul > li {
	list-style-type: none;
}
.tremaine-video-card .caption-wrapper {
	padding: 18px 24px;
	box-sizing: border-box;
}
.tremaine-video-card .learn-more {
    padding-top: 4px;
}
.tremaine-video-card .learn-more a {
    color: #42a5f5;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1.25rem;
    letter-spacing: 1px;
	text-decoration: none;
}
.tremaine-video-gallery .tremaine-video-card .video-cover-link {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: block;
}
/* Sidebars
----------------------------------------------------------------------- */
.sidebar-primary a {
	color: #1f3652;
	text-decoration: none;
}
.sidebar-primary a:hover {
	color: #42a5f5;
}
/* Site Header
----------------------------------------------------------------------- */
.home .tre-secondary-nav {
	display: none;
}
/* Tabs
----------------------------------------------------------------------- */
.tre-tabs .tab-section {
	display: none;
}

.tre-tabs .tab-section.tre-active {
	display: block;
}

/* Widgets
----------------------------------------------------------------------- */
.wovax-custom-menu-link {
	color: #333;
    text-decoration: none !important;
    display: inline-block;
    padding: 10px;
    text-transform: uppercase;
    box-sizing: border-box;
    font-weight: 400;
    font-size: 1.5rem;
    letter-spacing: 2.4px;
	vertical-align: top;
	line-height: normal;
}
.wovax-custom-menu-link.bold {
	font-weight: bold;
    color: #202c49;
}
.wovax-custom-menu-link i {
	color: #42a5f5;
}
.footer-nav .wovax-custom-menu-link {
    height: 50px;
    line-height: 50px;
    padding: 0 21px;
}

/* Media Queries
----------------------------------------------------------------------- */
@media only screen and (max-width: 1250px) {
	
	
	.wx-post-gallery-results-header h2 {
		display: block !important;
	}
	.wx-post-gallery .wx-gallery-controls {
    	display: block;
		margin-left: 0;
		text-align: left;
	}
	
}
@media screen and (max-width: 1050px) {
	/* Layouts
	----------------------------------------------------------------------- */
	/* Gallery */
	.wovax-gallery-third .wovax-gallery-item.
	.wovax-gallery-third {
		width: 49%;
		margin-right: 2%;
	}
	.wovax-gallery-third .wovax-gallery-item:nth-child(3n),
	.wovax-gallery-third:nth-child(3n) {
		margin-right: 2%;
	}.wovax-gallery-third .wovax-gallery-item:nth-child(2n),
	.wovax-gallery-third:nth-child(2n) {
		margin-right: 0;
	}
	/* Post Gallery
	----------------------------------------------------------------------- */
    .wx-post-gallery .wx-gallery-controls {
		margin-left: 0;
		text-align: left;
	}
	.wx-post-gallery h2 {
		float: none;
	}
	.wx-post-gallery .wx-gallery-controls > .wx-gallery-field {
		margin-left: 0;
		margin-right: 25px;
	}
	/* Property Listings Gallery
	----------------------------------------------------------------------- */
	.property-listing-gallery .property-listing-card {
		width: 50%;
	}
}

@media only screen and (max-width: 1023px) {
	
	/* Hooks
	----------------------------------------------------------------------- */
	.always-top .tkd-column {
		padding-top: 0;
	}
	
	.tremaine-people-gallery ul.tremaine-people-gallery-wrapper {
		margin: 0;
	}
	.tremaine-people-gallery li.tremaine-people-card-wrapper {
		display: block;
		width: auto;
		padding: 0;
	}
	.tremaine-office-card-wrapper,
	.tremaine-video-card-wrapper {
		width: 50%;
	}
	.tre-developments {
		padding-top: 0;
	}
	#tre-profile-video-banner {
		margin-top: 0;
	}
	.home .tre-secondary-nav {
		display: block;
	}
	
}
	
@media screen and (max-width: 900px) {
	
	/* Post Gallery
	----------------------------------------------------------------------- */
	.wx-post-gallery .wx-gallery-controls > .wx-gallery-field {
		margin-top: 16px;
	}
    .wx-post-gallery .wx-gallery-controls .wx-gallery-field.wx-sort-field {
		display: block;
		margin-top: 0;
	}
}

@media only screen and (max-width: 800px) { 

	/* Modals
	----------------------------------------------------------------------- */
	/* Property Modal */
	.wovax-modal .property-slideshow-nav-mobile {
		display: block;
	}
	.wovax-modal .property-slideshow-nav-full {
		display: none;
	}
}
@media only screen and (max-width: 700px) {
	/* Layouts
	----------------------------------------------------------------------- */
	/* Gallery */
	.wovax-gallery-third .wovax-gallery-item,
	.wovax-gallery-third {
		display: block;
		width: auto;
		margin-left: 0;
		margin-right: 0;
	}
	.wovax-gallery-third .wovax-gallery-item:nth-child(3n),
	.wovax-gallery-third:nth-child(3n) {
		margin-right: 0;
	} 
	/* Property Listings Gallery
	----------------------------------------------------------------------- */
	.property-listing-gallery .property-listing-card {
		width: auto;
		display: block;
	}
	.tremaine-office-gallery-wrapper,
	.tremaine-video-gallery-wrapper {
		margin: 0;
	}
	.tremaine-office-card-wrapper,
	.tremaine-video-card-wrapper {
		display: block;
		padding: 0;
		width: auto;
	}
	
}


@media only screen and (max-width: 600px) { 
	.property-slideshow-nav nav > a {
		position: absolute;
		width: 40px;
		background-color: #ddd;
		height: auto;
		top: 0;
		bottom: 0;
		text-align: center;
		color: #fff;
	}
	.tremaine-people-gallery .tremaine-people-card .image-wrapper {
		width: auto;
		padding-bottom: 120%;
		float: none;
	}
	.tremaine-people-gallery .tremaine-people-card .caption-wrapper {
		margin-left: 0;
		padding: 40px;
		box-sizing: border-box;
	}
}

@media print {
	
	/* Property Listing
	----------------------------------------------------------------------- */
	.property-listing-detail {
		padding-top: 40px;
	}
	.property-listing-detail .property-pins {
		display: none;
	}

	.property-map {
		margin-top: 100px;
		page-break-before: always;
		page-break-inside: avoid;
	}
	
	.property-map img {
		margin-top: 200px;
		max-width: none !important;
		page-break-inside: avoid;
		position: relative; 
	}
	
	/* Property Slideshow
	----------------------------------------------------------------------- */
	.property-slideshow-nav .property-nav-slide {
		position: relative;
		margin-bottom: 12px;
		top: 0;
		width: auto;
	}
	.property-slideshow-nav .property-thumbnail {
		background: none;
		padding-bottom: 0;
	}
	.property-slideshow-nav .property-thumbnail img{
		display: block !important;
	}
	.property-slideshow-nav nav > div {
		margin: 0 -2%;
	}
	.property-slideshow-nav nav > a {
		display:none;
	}
	/* Site Footer
	----------------------------------------------------------------------- */
	.footer-after,
	.footer-nav,
	.footer-before,
	.site-footer {
		display: none;
	}
}
@page  { 
    size: auto;   /* auto is the initial value */ 

    /* this affects the margin in the printer settings */ 
    margin: 10mm 10mm 10mm 10mm;  
} 

